<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudyOlle</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/logo_symbol.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <p class="lead">로그인을 위한 프로젝트</p>
        <h2>로그인</h2>
    </div>
    <div class="row justify-content-center">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <p>이메일(또는 닉네임)과 패스워드가 정확하지 않습니다.</p>
            <p>또는 확인되지 않은 이메일을 사용했습니다. 이메일을 확인해 주세요.</p>
        </div>

        <form class="needs-validation col-sm-6" action="#" th:action="@{/login}" method="post" novalidate>
            <div class="form-group">
                <label for="username">아이디</label>
                <!-- name 으로 security 매핑 -->
                <input id="username" type="text" name="username" class="form-control"
                       placeholder="seohae0406" aria-describedby="userIdHelp" required>
                <small id="userIdHelp" class="form-text text-muted">
                    가입할 때 사용한 아이디를 입력하세요.
                </small>
                <small class="invalid-feedback">아이디를 입력하세요.</small>
            </div>
            <div class="form-group">
                <label for="password">패스워드</label>
                <!-- name 으로 security 매핑 -->
                <input id="password" type="password" name="password" class="form-control"
                       aria-describedby="passwordHelp" required>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
            </div>

            <!-- 로그인 유지 rememberMe 추가 -->
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
                <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit" aria-describedby="submitHelp">로그인</button>
                <small id="submitHelp" class="form-text text-muted">
                    계정이 없으시다면 <a href="#" th:href="@{/users/registerForm}">계정을 먼저 만드세요.</a>
                </small>
            </div>
        </form>
    </div>

    <footer th:fragment="footer">
        <div class="row justify-content-center">
            <img class="mb-2" src="/images/logo_long_kr.jpg" alt="" width="100">
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
        </div>
    </footer>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript">
    (function () {

    }())
</script>
</body>
</html>